<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Based Product Recommendation System</title>

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div class="container theme-showcase">
        <div class="jumbotron">
            <h2>Sentiment Based Product Recommendation System</h2>
                <figure class="text-right">
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title">Noble Varghese</cite> <br>
                        <cite title="Source Title">varghese.noble09@gmail.com</cite>
                    </figcaption>
                </figure>
            <h3 class="text-dark">
                <small> In this project, we have used User-User based Collaborative Filtering Recommendation system for custom recommendation of products for all users. 
                Further, sentiment analysis is performed on reviews of those products recommended by the system and then top 5 best custom recommendations having high positive sentiments are displayed for each user. 
                From the given list of users, please select one to view their custom product recommendations! 
                </small>
            </h3>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <strong>Oh snap!</strong>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block main %}
        {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</body>
</html>